linkable-title {
  --icon-width: 2rem;
  --icon-gap: 0.4rem;
  display: inline-block;
  position: relative;
  &.icon {
    margin-right: var(--icon-width);
    padding-right: var(--icon-gap);
  }
  &.highlight {
    animation: blinker 1s ease 1s;
  }
  &.start {
    &.icon {
      margin-right: 0;
      padding-right: 0;
      margin-left: var(--icon-width);
      padding-left: var(--icon-gap);
    }
    .anchor-icon {
      right: 100%;
      left: auto;
    }
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      .anchor-icon {
        opacity: 1;
      }
    }
    .anchor-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + var(--icon-gap));
      opacity: 0;
      transition: opacity 0.2s ease;
      svg {
        width: auto;
        height: 1em;
        path {
          fill: currentColor;
        }
      }
    }
  }
}

@keyframes blinker {
  25%,
  75% {
    opacity: 0;
  }
  0%,
  50% {
    opacity: 1;
  }
}
